main{
    div{
        display: flex;
        justify-content: center;
        margin: 15px;
        padding: 1rem;
        border: blue;
    img{
        opacity: .4;
        border: 2px double white;
    &:hover{
        opacity: 1;
        border: red;
      }
     }  
  }
}
main{
    .Torneos{
        display: flex;
        justify-content: center;
        margin: 15px;
        padding: 1rem;
        border: blue;
    img{
        opacity: .4;
        border: 2px double white;
        &:hover{
        opacity: 1;
        border: red; 
    }
 }
}
} 
main{
    .col img{
        width: 100px;
        animation-name: agrandar;
        animation-iteration-count: infinite;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-direction: alternate;
        @keyframes agrandar {
            from{
                transform: scale(1.2);
            }
            to{
                transform: scale(1.1);
            }
        }
    }
}
.Torneos{
    animation-name: agrandar;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-direction: alternate;
 }
 @keyframes agrandar{
    from{
        transform: scale(1.2);
    }
    to{
        transform: scale(1.1);
    }
 }
 .card-group img{
    width: 200px;
    display: flex;
    justify-content: center;
    animation-name: agrandar;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-direction: alternate;
 }
 @keyframes agrandar{
    from{
        transform: scale(1.2);
    }
    to{
        transform: scale(1.1);
    }
 }
 .card-group a{
    opacity: .2;
    &:hover{
        opacity: 1;
        text-decoration-color: aliceblue;
        background-color: aqua;
    }
 }
 
 