@media (max-width: 576px){
    .Torneos{
       flex-direction: column;
    }
}


@media (max-width: 576px){
    .card-group img{
       width: 100px;
       flex-direction: column;
    }
}
.slide{
    margin-top: 10px;
    img{
        height: 600px;
        width: 1000px;
    }
}

@media (max-width: 576px){
    .Videopad{
       flex-direction: column;
    }
}