* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../Imagenes/fondo1.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.divtodos h2 {
  font-family: Impact, Haettenschweiler, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
}

main div {
  display: flex;
  justify-content: center;
  margin: 15px;
  padding: 1rem;
  border: blue;
}
main div img {
  opacity: 0.4;
  border: 2px double white;
}
main div img:hover {
  opacity: 1;
  border: red;
}

main .Torneos {
  display: flex;
  justify-content: center;
  margin: 15px;
  padding: 1rem;
  border: blue;
}
main .Torneos img {
  opacity: 0.4;
  border: 2px double white;
}
main .Torneos img:hover {
  opacity: 1;
  border: red;
}

main .col img {
  width: 100px;
  -webkit-animation-name: agrandar;
          animation-name: agrandar;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
@-webkit-keyframes agrandar {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1.1);
  }
}
@keyframes agrandar {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1.1);
  }
}

.Torneos {
  -webkit-animation-name: agrandar;
          animation-name: agrandar;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@keyframes agrandar {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1.1);
  }
}
.card-group img {
  width: 200px;
  display: flex;
  justify-content: center;
  -webkit-animation-name: agrandar;
          animation-name: agrandar;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@keyframes agrandar {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1.1);
  }
}
header {
  font-family: Impact;
}
header div a {
  text-align: center;
  color: rgb(3, 3, 3);
}
header div a:hover {
  color: white;
}

footer {
  text-align: center;
}
footer div {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
footer div img {
  width: 50px;
  justify-content: center;
  opacity: 0.4;
}
footer div img:hover {
  border: blue;
}

footer img {
  transition: 1s;
}
footer img:hover {
  transform: rotate(140deg) scale(3) skew(30deg);
}/*# sourceMappingURL=estilo.css.map */