body {
  background-image: url(../Imagenes/fondo1.webp);
  background-repeat: no-repeat;
  background-size: cover; }

.divtodos h2 {
  font-family: Impact, Haettenschweiler,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center; }

main div {
  display: flex;
  justify-content: center;
  margin: 15px;
  padding: 1rem;
  border: blue; }
  main div img {
    opacity: .4;
    border: 2px double white; }
    main div img:hover {
      opacity: 1;
      border: red; }

main .Torneos {
  display: flex;
  justify-content: center;
  margin: 15px;
  padding: 1rem;
  border: blue; }
  main .Torneos img {
    opacity: .4;
    border: 2px double white; }
    main .Torneos img:hover {
      opacity: 1;
      border: red; }
      main .Torneos img:hover .Torneos {
        animation-name: agrandar;
        animation-iteration-count: infinite;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-direction: alternate; }

@keyframes agrandar {
  from {
    transform: scale(1.2); }
  to {
    transform: scale(1.1); } }

header {
  font-family: Impact; }
  header h1 {
    font-family: Impact, Haettenschweiler,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center; }
  header h2 {
    font-family: Impact, Haettenschweiler,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center; }
  header a {
    text-align: center;
    color: #030303; }
    header a:hover {
      color: white; }

footer {
  text-align: center; }
  footer div {
    font-family: Impact; }
    footer div img {
      width: 50px;
      justify-content: center;
      opacity: .4;
      border: 2px double white; }
      footer div img:hover {
        border: blue; }
